

            <!-- Product Details starts -->
            <div class="card-body invoice-padding invoice-product-details">
              <form class="source-item">
                <div data-repeater-list="group-a">
                  <div class="repeater-wrapper" data-repeater-item *ngFor="let item of items; let i = index" @heightIn>
                    <div class="row">
                      <div class="col-12 d-flex product-details-border position-relative pr-0">
                        <div class="row w-100 pr-lg-0 pr-1 py-2">
                          <div class="col-lg-5 col-12 mb-lg-0 mb-2 mt-lg-0 mt-2">
                            <p class="card-text col-title mb-md-50 mb-0">Item</p>
                            <select class="form-control item-details">
                              <option value="App Design">App Design</option>
                              <option value="App Customization" selected>App Customization</option>
                              <option value="ABC Template">ABC Template</option>
                              <option value="App Development">App Development</option>
                            </select>
                            <!-- <textarea class="form-control mt-2" rows="1">Customization & Bug Fixes</textarea> -->
                          </div>
                          <!-- <div class="col-lg-3 col-12 my-lg-0 my-2">
                            <p class="card-text col-title mb-md-2 mb-0">Cost</p>
                            <input
                              type="text"
                              class="form-control"
                              [(ngModel)]="item.itemCost"
                              name="itemCost{{ i }}"
                              id="itemCost{{ i }}"
                              placeholder="24"
                            />
                            <div class="mt-2">
                              <span>Discount: </span>
                              <span class="discount">0%</span>
                              <span class="tax-1 ml-50" data-toggle="tooltip" data-placement="top" title="Tax 1"
                                >0%</span
                              >
                              <span class="tax-2 ml-50" data-toggle="tooltip" data-placement="top" title="Tax 2"
                                >0%</span
                              >
                            </div>
                          </div> -->
                          <div class="col-lg-2 col-12 my-lg-0 my-2">
                            <p class="card-text col-title mb-md-2 mb-0">Qty</p>
                            <input
                              type="number"
                              class="form-control"
                              id="itemQuantity{{ i }}"
                              name="itemQuantity{{ i }}"
                              [(ngModel)]="item.itemQuantity"
                              placeholder="1"
                            />
                          </div>
                          <!-- <div class="col-lg-2 col-12 mt-lg-0 mt-2">
                            <p class="card-text col-title mb-md-50 mb-0">Price</p>
                            <p class="card-text mb-0">$24.00</p>
                          </div> -->
                        </div>
                        <div
                          class="d-flex flex-column align-items-center justify-content-between border-left invoice-product-actions py-50 px-25"
                        >
                          <button (click)="deleteItem(i)" class="btn p-0">
                            <i data-feather="x" [size]="18" class="cursor-pointer"></i>
                          </button>
                          <div ngbDropdown class="dropdown" #discountDropdown="ngbDropdown">
                            <button
                              class="cursor-pointer more-options-dropdown mr-0 btn p-0 hide-arrow"
                              id="dropdownMenuButton"
                              role="button"
                              type="button"
                              data-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false"
                              ngbDropdownToggle
                            >
                              <!-- <i data-feather="settings"></i> -->
                            </button>
                            <div
                              ngbDropdownMenu
                              class="dropdown-menu dropdown-menu-right item-options-menu p-1"
                              aria-labelledby="dropdownMenuButton"
                            >
                              <!-- <div class="form-group">
                                <label for="discount-input" class="form-label">Discount(%)</label>
                                <input type="number" class="form-control" id="discount-input" />
                              </div> -->
                              <!-- <div class="form-row mt-50">
                                <div class="form-group col-md-6">
                                  <label for="tax-1-input" class="form-label">Tax 1</label>
                                  <select name="tax-1-input" id="tax-1-input" class="form-control tax-select">
                                    <option value="0%" selected>0%</option>
                                    <option value="1%">1%</option>
                                    <option value="10%">10%</option>
                                    <option value="18%">18%</option>
                                    <option value="40%">40%</option>
                                  </select>
                                </div>
                                <div class="form-group col-md-6">
                                  <label for="tax-2-input" class="form-label">Tax 2</label>
                                  <select name="tax-2-input" id="tax-2-input" class="form-control tax-select">
                                    <option value="0%" selected>0%</option>
                                    <option value="1%">1%</option>
                                    <option value="10%">10%</option>
                                    <option value="18%">18%</option>
                                    <option value="40%">40%</option>
                                  </select>
                                </div>
                              </div> -->
                              <!-- <div class="dropdown-divider my-1"></div>
                              <div class="d-flex justify-content-between">
                                <button
                                  type="button"
                                  class="btn btn-outline-primary btn-apply-changes"
                                  (click)="discountDropdown.close()"
                                  rippleEffect
                                >
                                  Apply
                                </button>
                                <button
                                  type="button"
                                  class="btn btn-outline-secondary"
                                  (click)="discountDropdown.close()"
                                  rippleEffect
                                >
                                  Cancel
                                </button>
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-1">
                  <div class="col-12 px-0">
                    <button type="button" class="btn btn-primary btn-sm btn-add-new" (click)="addItem()" rippleEffect>
                      <i data-feather="plus" class="mr-25"></i>
                      <span class="align-middle">Add Item</span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <!-- Product Details ends -->

           