<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <!-- Horizontal Wizard -->
    <section class="horizontal-wizard">
      <div id="stepper1" class="bs-stepper horizontal-wizard-example">
        <div class="bs-stepper-header">
          <div class="step" data-target="#account-details">
            <button class="step-trigger">
              <span class="bs-stepper-box">1</span>
              <span class="bs-stepper-label">
                <span class="bs-stepper-title">Order Information</span>
                <span class="bs-stepper-subtitle">Setup Order Information</span>
              </span>
            </button>
          </div>
          <div class="line"><i data-feather="chevron-right" class="font-medium-2"></i></div>
          <div class="step" data-target="#personal-info">
            <button class="step-trigger">
              <span class="bs-stepper-box">2</span>
              <span class="bs-stepper-label">
                <span class="bs-stepper-title">Customer Information</span>
                <span class="bs-stepper-subtitle">Add Customer Information</span>
              </span>
            </button>
          </div>
          <div class="line"><i data-feather="chevron-right" class="font-medium-2"></i></div>
          <div class="step" data-target="#address">
            <button class="step-trigger">
              <span class="bs-stepper-box">3</span>
              <span class="bs-stepper-label">
                <span class="bs-stepper-title">Order Items</span>
                <span class="bs-stepper-subtitle">Add products of the order</span>
              </span>
            </button>
          </div>
         
        </div>
        
        <div class="bs-stepper-content">
      <form [formGroup]="registerForm">
			    <div  >
		  	<div id="account-details" class="content">
              <form #accountDetailsForm="ngForm">
                <div class="content-header">
                  <h5 class="mb-0">Order Details</h5>
                  <small class="text-muted">Enter Your Order Details.</small>
                  
                </div>

               
                <div class="row">

                 
                  
                  <div class="form-group col-md-6">
                    <label for="register-livreur "class="form-label">Delivery man</label>
                
                    <input
                    
                      required
                      type="text"
                      id="livreur"
                      name="livreur"
                      placeholder="Delivery man"
                      class="form-control"
                      formControlName="livreur"
                      [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                    />
                   
                  </div>
                  <div class="form-group col-md-6">
                    
                    <label class="form-label" for="register-reference" >Package Reference</label>
                    <input
                     
                      
                      required
                      type="text"
                      name="colis_ref"
                      id="colis_ref"
                      class="form-control"
                      formControlName="colis_ref"
                      placeholder="Package Reference"
                    />
                   
                  </div>
                  
                </div>
                <div class="row">
                  
                 


                  
                    <div class="form-group col-md-6">
                      <label class="form-label" for="country">Payment Status</label>
                      <ng-select [items]="selectBasic" bindLabel="name"> </ng-select>
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-label" for="language">Delivery Status</label>
                      <ng-select
                        [items]="selectMulti"
                        [multiple]="true"
                        [closeOnSelect]="false"
                        [searchable]="false"
                        bindLabel="name"
                        name="selectLanguage"
                        placeholder="Delivery Status"
                        [(ngModel)]="selectMultiSelected"
                      >
                        <ng-template ng-label-tmp let-item="item" let-clear="clear">
                          <span class="ng-value-label"> {{ item.name }}</span>
                          <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                        </ng-template>
                      </ng-select>
                    </div>
                 

  <!-- Basic Date Picker -->
  <!-- <form class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd" name="Basic Date Picker" [(ngModel)]="basicDPdata"
          ngbDatepicker #basicDP="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary feather icon-calendar" (click)="basicDP.toggle()"
            type="button" rippleEffect></button>
        </div>
      </div>
    </div>
  </form>
  <pre class="mt-2 p-1">Model: {{ basicDPdata | json }}</pre> -->
  <!--/ Basic Date Picker -->

 
  <!-- <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customCheck1" checked />
    <label class="custom-control-label" for="customCheck1">Checked</label>
  </div>


  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customCheck2" checked />
    <label class="custom-control-label" for="customCheck2">Checked</label>
  </div>

  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customCheck3" checked />
    <label class="custom-control-label" for="customCheck3">Checked</label>
  </div> -->
  
                </div>
                

                <div class="d-flex justify-content-between">
                  <button
                    (click)="horizontalWizardStepperPrevious()"
                    class="btn btn-outline-secondary btn-prev"
                    disabled
                    rippleEffect
                  >
                    <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                    <span class="align-middle d-sm-inline-block d-none">Previous</span>
                  </button>
                  <button
                    (click)="horizontalWizardStepperNext(accountDetailsForm)"
                    type="submit"
                    class="btn btn-primary btn-next"
                    rippleEffect
                  >
                    <span class="align-middle d-sm-inline-block d-none">Next</span>
                    <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
                  </button>
                </div>
              </form>
            </div>
            <div id="personal-info" class="content">
              <form #personalInfoForm="ngForm">
                <div class="content-header">
                  <h5 class="mb-0">Customer Information</h5>
                  <small>Enter Your Customer Information.</small>
                </div>

                <div class="row">
                  <div class="form-group col-md-6">
                    <label class="form-label" for="first-name">Client First Name</label>
                    
                    
                    
                    
                    <input
                     
                      required
                      type="text"
                      name="client_name"
                      id="client_name"
                      class="form-control"
                      formControlName="client_name"
                      placeholder="First name"
                      [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                    />
                    <!-- <span *ngIf="personalInfoForm.submitted && TDFirstNameRef.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="TDFirstNameRef.errors.required"
                        >This field is required!</small
                      >
                    </span> -->
                  </div>
                  <div class="form-group col-md-6">
                   
                    <label class="form-label" for="last-name"> Client Last Name</label>
                    <input
                     
                      required
                      type="text"
                      name="last-name"
                      id="last_name"
                      formControlName="last_name"
                      class="form-control"
                     
                      placeholder="Last Name"
                    />
                    <!-- <span *ngIf="personalInfoForm.submitted && TDLastNameRef.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="TDLastNameRef.errors.required"
                        >This field is required!</small
                      >
                    </span> -->
                  </div>
                </div>
                <div class="row">
                  <!-- <div class="form-group col-md-6">
                    <label class="form-label" for="country">Country</label>
                    <ng-select [items]="selectBasic" bindLabel="name"> </ng-select>
                  </div> -->
                  <!-- <div class="form-group col-md-6">
                    <label class="form-label" for="last-name"> Client Phone</label>
                    <input
                      [(ngModel)]="TDLastNameVar"
                      #TDLastNameRef="ngModel"
                      required
                      type="text"
                      name="phone"
                      id="phone"
                      class="form-control"
                
                      placeholder="Phone"
                    />
                    <span *ngIf="personalInfoForm.submitted && TDLastNameRef.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="TDLastNameRef.errors.required"
                        >This field is required!</small
                      >
                    </span>
                  </div> -->
                

                  <div class="form-group col-md-6">
                    <label class="form-label" for="register-phone">Client Phone</label>
                    <input
                     
                      required
                      type="text"
                      id="num_tel"
                      name="num_tel"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"
                      placeholder="Phone"
                    />
                    <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                      
                      <div *ngIf="f.phone.errors.required">Phone is required</div>
                      <div *ngIf="f.phone.errors.phone">Phone must be a valid number</div>
                      
                    </div>
                    <!-- <span *ngIf="socialLinkForm.submitted && linkedinRef.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="linkedinRef.errors.required"
                        >This field is required!</small
                      >
                    </span> -->
                  </div>

                  <div class="form-group col-md-6">
                    <label class="form-label" for="register-phone">Client Phone 2 </label>
                    <input
                     
                      required
                      type="text"
                      id="num_tel"
                      name="num_tel"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"
                      placeholder="Phone"
                    />
                    <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                      
                      <div *ngIf="f.phone.errors.required">Phone is required</div>
                      <div *ngIf="f.phone.errors.phone">Phone must be a valid number</div>
                      
                    </div>
                   
                  </div>
                 
                  <!-- <div class="form-group col-md-6">
                    <label class="form-label" for="address">Client Address</label>
                    <input
                      [(ngModel)]="addressVar"
                      #addressRef="ngModel"
                      required
                      type="text"
                      id="address"
                      name="address"
                      class="form-control"
                      [class.error]="addressForm.submitted && addressRef.invalid"
                      placeholder=" Address"
                    />
                    <span *ngIf="addressForm.submitted && addressRef.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="addressRef.errors.required"
                        >This field is required!</small
                      >
                    </span>
                  </div> -->
                  <!-- <div class="form-group col-md-6">
                    <label class="form-label" for="language">Client address </label>
                    <ng-select
                      [items]="selectMulti"
                      [multiple]="true"
                      [closeOnSelect]="false"
                      [searchable]="false"
                      bindLabel="name"
                      name="selectLanguage"
                      placeholder="Select people"
                      [(ngModel)]="selectMultiSelected"
                    >
                      <ng-template ng-label-tmp let-item="item" let-clear="clear">
                        <span class="ng-value-label"> {{ item.name }}</span>
                        <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                      </ng-template>
                    </ng-select>
                  </div> -->
                </div>
                <div class="row">
                  <!-- <div class="form-group col-md-6">
                    <label class="form-label" for="country">Country</label>
                    <ng-select [items]="selectBasic" bindLabel="name"> </ng-select>
                  </div> -->
                  <!-- <div class="form-group col-md-6">
                    <label class="form-label" for="last-name"> Client Phone</label>
                    <input
                      [(ngModel)]="TDLastNameVar"
                      #TDLastNameRef="ngModel"
                      required
                      type="text"
                      name="phone"
                      id="phone"
                      class="form-control"
                
                      placeholder="Phone"
                    />
                    <span *ngIf="personalInfoForm.submitted && TDLastNameRef.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="TDLastNameRef.errors.required"
                        >This field is required!</small
                      >
                    </span>
                  </div> -->
                

                  <div class="form-group col-md-6">
                    <label class="form-label" for="register-phone">Governorate</label>
                    <input
                     
                      required
                      type="text"
                      id="num_tel"
                      name="num_tel"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"
                      placeholder="Governorate"
                    />
                    <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                      
                      <div *ngIf="f.phone.errors.required">Governorate is required</div>
                     
                      
                    </div>
                    
                  </div>
                  </div>

                <div class="d-flex justify-content-between">
                  <button
                    type="button"
                    (click)="horizontalWizardStepperPrevious()"
                    class="btn btn-primary btn-prev"
                    rippleEffect
                  >
                    <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                    <span class="align-middle d-sm-inline-block d-none">Previous</span>
                  </button>
                  <button
                    (click)="horizontalWizardStepperNext(personalInfoForm)"
                    class="btn btn-primary btn-next"
                    rippleEffect
                  >
                    <span class="align-middle d-sm-inline-block d-none">Next</span>
                    <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
                  </button>
                </div>
              </form>
            </div>
            <div id="address" class="content">
              <form #addressForm="ngForm">
                <div class="content-header">
                  <h5 class="mb-0">Order items</h5>
                  <small>Enter Your Order Items.</small>
                </div>
<!-- 
                <div class="form-group row mb-2">
                  <label for="customSelect" class="col-sm-3 col-form-label" > Product </label>
                <div class="col-sm-6">
                  <select class="custom-select" formControlName="products_id" >
                      <option ngbDropdownItem href="javascript:void(0)" *ngFor="let product of products" [value]="product.id">{{product.name}}</option>
                  </select>
                </div>
               </div> -->

                <form action="#" class="invoice-repeater">
                  <div *ngFor="let item of items; let i = index" @heightIn>
                    <div class="row d-flex align-items-end">
                      <div class="col-md-4 col-12">
                        <div class="form-group">
                          <label for="itemName{{ i }}">Product Name</label>
                          <select class="custom-select" formControlName="products_id" >
                            <option ngbDropdownItem href="javascript:void(0)" *ngFor="let product of products" [value]="product.id">{{product.name}}</option>
                        </select>
                        </div>
                      </div>
                
                      <!-- <div class="col-md-2 col-12">
                        <div class="form-group">
                          <label for="itemCost">Cost</label>
                          <input
                            type="number"
                            class="form-control"
                            id="itemcost"
                            [(ngModel)]="item.itemCost"
                            name="itemCost{{ i }}"
                            id="itemCost{{ i }}"
                            placeholder="32"
                          />
                        </div>
                      </div> -->
                
                      <div class="col-md-2 col-12">
                        <div class="form-group">
                          <label for="itemQuantity{{ i }}">Quantity</label>
                          <input
                            type="number"
                            class="form-control"
                            id="itemQuantity{{ i }}"
                            name="itemQuantity{{ i }}"
                            [(ngModel)]="item.itemQuantity"
                            placeholder="1"
                          />
                        </div>
                      </div>
                
                      <!-- <div class="col-md-2 col-12">
                        <div class="form-group">
                          <label for="staticPrice">Price</label>
                          <input type="text" readonly class="form-control-plaintext" id="staticPrice" value="$32" />
                        </div>
                      </div> -->
                
                      <div class="col-md-2 col-12 mb-50">
                        <div class="form-group">
                          <button class="btn btn-outline-danger text-nowrap px-1" (click)="deleteItem(i)" rippleEffect>
                            <i data-feather="x" class="mr-25"></i>
                            <span>Delete</span>
                          </button>
                        </div>
                      </div>
                      <div class="col-12">
                        <button class="btn btn-icon btn-primary" type="button" (click)="addItem()" rippleEffect>
                          <i data-feather="plus" class="mr-25"></i>
                          <span>Add New</span>
                        </button>
                      </div>
                    </div>
                    <hr />
                  </div>
                </form>
                <div class="row">
                  <!-- <div class="col-12">
                    <button class="btn btn-icon btn-primary" type="button" (click)="addItem()" rippleEffect>
                      <i data-feather="plus" class="mr-25"></i>
                      <span>Add New</span>
                    </button>
                  </div> -->
                </div>
                <!-- <pre class="p-1 text-white mt-1">
                  <div  *ngFor="let item of items; let i = index">
                Index: {{ i }}
                Item Name: {{ item.itemName }}
                Cost: {{ item.itemCost }}
                Quantity: {{ item.itemQuantity }}</div>
                </pre>
                 -->


              <!--  <div class="row">
                  <div class="form-group col-md-6">
                    <label class="form-label" for="address">Address</label>
                    <input
                      [(ngModel)]="addressVar"
                      #addressRef="ngModel"
                      required
                      type="text"
                      id="address"
                      name="address"
                      class="form-control"
                      [class.error]="addressForm.submitted && addressRef.invalid"
                      placeholder="98  Borough bridge Road, Birmingham"
                    />
                    <span *ngIf="addressForm.submitted && addressRef.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="addressRef.errors.required"
                        >This field is required!</small
                      >
                    </span>
                  </div>
                  <div class="form-group col-md-6">
                    <label class="form-label" for="landmark">Landmark</label>
                    <input
                      [(ngModel)]="landmarkVar"
                      #landmarkRef="ngModel"
                      required
                      type="text"
                      name="landmark"
                      id="landmark"
                      class="form-control"
                      [class.error]="addressForm.submitted && landmarkRef.invalid"
                      placeholder="Borough bridge"
                    />
                    <span *ngIf="addressForm.submitted && landmarkRef.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="landmarkRef.errors.required"
                        >This field is required!</small
                      >
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label class="form-label" for="pincode1">Pincode</label>
                    <input type="text" id="pincode1" class="form-control" placeholder="658921" />
                  </div>
                  <div class="form-group col-md-6">
                    <label class="form-label" for="city1">City</label>
                    <input type="text" id="city1" class="form-control" placeholder="Birmingham" />
                  </div>
                </div>-->

                <div class="d-flex justify-content-between">
                  <button
                    type="button"
                    (click)="horizontalWizardStepperPrevious()"
                    class="btn btn-primary btn-prev"
                    rippleEffect
                  >
                    <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                    <span class="align-middle d-sm-inline-block d-none">Previous</span>
                  </button>
                  <button class="btn btn-success btn-submit" rippleEffect (click)="onSubmit()">Submit</button>
                  <!-- <button type="submit" class="btn btn-primary mr-1" (click)="onSubmit()" rippleEffect>Submit</button> -->
                  <!-- <button
                    (click)="horizontalWizardStepperNext(addressForm)"
                    class="btn btn-primary btn-next"
                    rippleEffect
                    disabled
                  >
                    <span class="align-middle d-sm-inline-block d-none">Next</span>
                    <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
                  </button> -->
                </div> 
              </form>
            </div>
            <div id="social-links" class="content">
              <form #socialLinkForm="ngForm">
                <div class="content-header">
                  <h5 class="mb-0">Social Links</h5>
                  <small>Enter Your Social Links.</small>
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label class="form-label" for="twitter">Twitter</label>
                    <input
                      [(ngModel)]="twitterVar"
                      #twitterkRef="ngModel"
                      required
                      type="text"
                      id="twitter"
                      name="twitter"
                      class="form-control"
                      [class.error]="socialLinkForm.submitted && twitterkRef.invalid"
                      placeholder="https://twitter.com/abc"
                    />
                    <span *ngIf="socialLinkForm.submitted && twitterkRef.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="twitterkRef.errors.required"
                        >This field is required!</small
                      >
                    </span>
                  </div>
                  <div class="form-group col-md-6">
                    <label class="form-label" for="facebook">Facebook</label>
                    <input
                      [(ngModel)]="facebookVar"
                      #facebookRef="ngModel"
                      required
                      type="text"
                      id="facebook"
                      name="facebook"
                      class="form-control"
                      [class.error]="socialLinkForm.submitted && facebookRef.invalid"
                      placeholder="https://facebook.com/abc"
                    />
                    <span *ngIf="socialLinkForm.submitted && facebookRef.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="facebookRef.errors.required"
                        >This field is required!</small
                      >
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label class="form-label" for="google">Google+</label>
                    <input
                      [(ngModel)]="googleVar"
                      #googleRef="ngModel"
                      required
                      type="text"
                      id="google"
                      name="google"
                      class="form-control"
                      [class.error]="socialLinkForm.submitted && googleRef.invalid"
                      placeholder="https://plus.google.com/abc"
                    />
                    <span *ngIf="socialLinkForm.submitted && googleRef.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="googleRef.errors.required"
                        >This field is required!</small
                      >
                    </span>
                  </div>
                  <div class="form-group col-md-6">
                    <label class="form-label" for="linkedin">Linkedin</label>
                    <input
                      [(ngModel)]="linkedinVar"
                      #linkedinRef="ngModel"
                      required
                      type="text"
                      id="linkedin"
                      name="linkedin"
                      class="form-control"
                      [class.error]="socialLinkForm.submitted && linkedinRef.invalid"
                      placeholder="https://linkedin.com/abc"
                    />
                    <span *ngIf="socialLinkForm.submitted && linkedinRef.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="linkedinRef.errors.required"
                        >This field is required!</small
                      >
                    </span>
                  </div>
                </div>
                <div class="d-flex justify-content-between">
                  <button
                    type="button"
                    (click)="horizontalWizardStepperPrevious()"
                    class="btn btn-primary btn-prev"
                    rippleEffect
                  >
                    <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                    <span class="align-middle d-sm-inline-block d-none">Previous</span>
                  </button>
                  <!-- <button class="btn btn-success btn-submit" rippleEffect (click)="onSubmit()">Submit</button> -->
                </div>
              </form>
            </div>
			</div>
          </form>
        </div>
      </div>
    </section>
   
  </div>
</div>