<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <section id="basic-buttons">
      <div class="row">
        <div class="col-12">
          <core-card-snippet [snippetCode]="_snippetCodeFilled"
            ><h4 class="card-title">Filled</h4>
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <p class="card-text mb-0">
                    Bootstrap includes six predefined button styles, each serving its own semantic purpose.
                  </p>
                  <div class="demo-inline-spacing">
                    <button type="button" class="btn btn-primary" rippleEffect>Primary</button
                    ><button type="button" class="btn btn-secondary" rippleEffect>Secondary</button
                    ><button type="button" class="btn btn-success" rippleEffect>Success</button
                    ><button type="button" class="btn btn-danger" rippleEffect>Danger</button
                    ><button type="button" class="btn btn-warning" rippleEffect>Warning</button
                    ><button type="button" class="btn btn-info" rippleEffect>Info</button
                    ><button type="button" class="btn btn-dark" rippleEffect>Dark</button>
                  </div>
                </div>
              </div>
            </div></core-card-snippet
          >
        </div>
      </div>
    </section>
    <section id="outline-button">
      <div class="row">
        <div class="col-12">
          <core-card-snippet [snippetCode]="_snippetCodeBorder"
            ><h4 class="card-title">Border</h4>
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <p class="card-text mb-0">
                    Use a class <code>.btn-outline-&#123;color&#125;</code> to quickly create a outline button.
                  </p>
                  <div class="demo-inline-spacing">
                    <button type="button" class="btn btn-outline-primary" rippleEffect>Primary</button
                    ><button type="button" class="btn btn-outline-secondary" rippleEffect>Secondary</button
                    ><button type="button" class="btn btn-outline-success" rippleEffect>Success</button
                    ><button type="button" class="btn btn-outline-danger" rippleEffect>Danger</button
                    ><button type="button" class="btn btn-outline-warning" rippleEffect>Warning</button
                    ><button type="button" class="btn btn-outline-info" rippleEffect>Info</button
                    ><button type="button" class="btn btn-outline-dark" rippleEffect>Dark</button>
                  </div>
                </div>
              </div>
            </div></core-card-snippet
          >
        </div>
      </div>
    </section>
    <section id="flat-buttons">
      <div class="row">
        <div class="col-12">
          <core-card-snippet [snippetCode]="_snippetCodeFlat"
            ><h4 class="card-title">Flat</h4>
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <p class="card-text mb-0">Use <code>.btn-flat-&#123;color&#125;</code> to create a flat button</p>
                  <div class="demo-inline-spacing">
                    <button type="button" class="btn btn-flat-primary" rippleEffect>Primary</button
                    ><button type="button" class="btn btn-flat-secondary" rippleEffect>Secondary</button
                    ><button type="button" class="btn btn-flat-success" rippleEffect>Success</button
                    ><button type="button" class="btn btn-flat-danger" rippleEffect>Danger</button
                    ><button type="button" class="btn btn-flat-warning" rippleEffect>Warning</button
                    ><button type="button" class="btn btn-flat-info" rippleEffect>Info</button
                    ><button type="button" class="btn btn-flat-dark" rippleEffect>Dark</button>
                  </div>
                </div>
              </div>
            </div></core-card-snippet
          >
        </div>
      </div>
    </section>
    <section id="gradient-buttons">
      <div class="row">
        <div class="col-12">
          <core-card-snippet [snippetCode]="_snippetCodeGradient"
            ><h4 class="card-title">Gradient</h4>
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <p class="card-text mb-0">use <code>btn-gradient-&#123;color&#125;</code> create gradient buttons</p>
                  <div class="demo-inline-spacing">
                    <button type="button" class="btn btn-gradient-primary">Primary</button
                    ><button type="button" class="btn btn-gradient-secondary">Secondary</button
                    ><button type="button" class="btn btn-gradient-success">Success</button
                    ><button type="button" class="btn btn-gradient-danger">Danger</button
                    ><button type="button" class="btn btn-gradient-warning">Warning</button
                    ><button type="button" class="btn btn-gradient-info">Info</button
                    ><button type="button" class="btn btn-gradient-dark">Dark</button>
                  </div>
                </div>
              </div>
            </div></core-card-snippet
          >
        </div>
      </div>
    </section>
    <section id="relief-buttons">
      <div class="row">
        <div class="col-12">
          <core-card-snippet [snippetCode]="_snippetCodeRelief"
            ><h4 class="card-title">Relief</h4>
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <p class="card-text mb-0">Use <code>.btn-relief-&#123;color&#125;</code> to create a relief button</p>
                  <div class="demo-inline-spacing">
                    <button type="button" class="btn btn-relief-primary">Primary</button
                    ><button type="button" class="btn btn-relief-secondary">Secondary</button
                    ><button type="button" class="btn btn-relief-success">Success</button
                    ><button type="button" class="btn btn-relief-danger">Danger</button
                    ><button type="button" class="btn btn-relief-warning">Warning</button
                    ><button type="button" class="btn btn-relief-info">Info</button
                    ><button type="button" class="btn btn-relief-dark">Dark</button>
                  </div>
                </div>
              </div>
            </div></core-card-snippet
          >
        </div>
      </div>
    </section>
    <section id="round-outline-button">
      <div class="row">
        <div class="col-12">
          <core-card-snippet [snippetCode]="_snippetCodeRoundbuttons"
            ><h4 class="card-title">Round buttons</h4>
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <p class="card-text mb-0">
                    Use a class <code>.round</code> with outline button class to create round outline button.
                  </p>
                  <div class="demo-inline-spacing">
                    <button type="button" class="btn btn-outline-primary round" rippleEffect>Primary</button
                    ><button type="button" class="btn btn-outline-secondary round" rippleEffect>Secondary</button
                    ><button type="button" class="btn btn-outline-success round" rippleEffect>Success</button
                    ><button type="button" class="btn btn-outline-danger round" rippleEffect>Danger</button
                    ><button type="button" class="btn btn-outline-warning round" rippleEffect>Warning</button
                    ><button type="button" class="btn btn-outline-info round" rippleEffect>Info</button
                    ><button type="button" class="btn btn-outline-dark round" rippleEffect>Dark</button>
                  </div>
                </div>
              </div>
            </div></core-card-snippet
          >
        </div>
      </div>
    </section>
    <section id="basic-button-icons">
      <div class="row">
        <div class="col-12">
          <core-card-snippet [snippetCode]="_snippetCodeIcon"
            ><h4 class="card-title">Icon</h4>
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class="demo-inline-spacing">
                    <button type="button" class="btn btn-outline-primary" rippleEffect>
                      <span [data-feather]="'home'" [class]="'mr-25'"></span>Home</button
                    ><button type="button" class="btn btn-warning" rippleEffect>
                      <span [data-feather]="'star'" [class]="'mr-25'"></span>Star</button
                    ><button type="button" class="btn btn-flat-success" rippleEffect>
                      <span [data-feather]="'check'" [class]="'mr-25'"></span>Done</button
                    ><button type="button" class="btn btn-outline-primary" rippleEffect disabled>
                      <span [data-feather]="'home'" [class]="'mr-25'"></span>Home
                    </button>
                  </div>
                </div>
              </div>
            </div></core-card-snippet
          >
        </div>
      </div>
    </section>
    <section id="icon-only-buttons">
      <div class="row">
        <div class="col-12">
          <core-card-snippet [snippetCode]="_snippetCodeIconOnly"
            ><h4 class="card-title">Icon Only</h4>
            <div class="card-body">
              <p class="card-text mb-0">
                You can use <code>.btn-icon</code>. you can create a rounded button by using
                <code>.rounded-circle</code> with <code>.btn-icon</code>. You can only use <code>.btn-icon</code> when
                you only want icon in your button
              </p>
              <div class="demo-inline-spacing">
                <button type="button" class="btn btn-icon btn-outline-primary" rippleEffect>
                  <span [data-feather]="'search'"></span></button
                ><button type="button" class="btn btn-icon btn-warning" rippleEffect>
                  <span [data-feather]="'inbox'"></span></button
                ><button type="button" class="btn btn-icon btn-flat-success" rippleEffect>
                  <span [data-feather]="'camera'"></span></button
                ><button type="button" class="btn btn-icon btn-outline-primary" rippleEffect disabled>
                  <span [data-feather]="'search'"></span></button
                ><button type="button" class="btn btn-icon rounded-circle btn-outline-primary" rippleEffect>
                  <span [data-feather]="'search'"></span></button
                ><button type="button" class="btn btn-icon btn-icon rounded-circle btn-warning" rippleEffect>
                  <span [data-feather]="'inbox'"></span></button
                ><button type="button" class="btn btn-icon btn-icon rounded-circle btn-flat-success" rippleEffect>
                  <span [data-feather]="'camera'"></span></button
                ><button
                  type="button"
                  class="btn btn-icon btn-icon rounded-circle btn-outline-primary"
                  rippleEffect
                  disabled
                >
                  <span [data-feather]="'search'"></span>
                </button>
              </div></div
          ></core-card-snippet>
        </div>
      </div>
    </section>
    <section id="basic-button-group">
      <div class="row">
        <div class="col-12">
          <core-card-snippet [snippetCode]="_snippetCodeBasicButtongroup"
            ><h4 class="card-title">Basic Button group</h4>
            <div class="card-body">
              <p class="card-text">
                Group a series of buttons together on a single line with the button group. Wrap a series of buttons with
                <code>.btn</code> in <code>.btn-group</code>.
              </p>
              <div class="row">
                <div class="col-lg-6 col-12 mb-1 mb-lg-0">
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary" rippleEffect>Left</button
                    ><button type="button" class="btn btn-primary" rippleEffect>Middle</button
                    ><button type="button" class="btn btn-primary" rippleEffect>Right</button>
                  </div>
                </div>
                <div class="col-lg-6 col-12">
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-outline-primary" rippleEffect>
                      <span [data-feather]="'facebook'"></span></button
                    ><button type="button" class="btn btn-outline-primary" rippleEffect>
                      <span [data-feather]="'twitter'"></span></button
                    ><button type="button" class="btn btn-outline-primary" rippleEffect>
                      <span [data-feather]="'instagram'"></span>
                    </button>
                  </div>
                </div>
              </div></div
          ></core-card-snippet>
        </div>
      </div>
    </section>
    <section id="checkbox-radio-group">
      <div class="row">
        <div class="col-12">
          <core-card-snippet [snippetCode]="_snippetCodeRadioButtonStyle"
            ><h4 class="card-title">Checkbox & radio group</h4>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6 col-12 mb-1 mb-lg-0">
                  <div class="btn-group btn-group-toggle">
                    <label class="btn-primary" ngbButtonLabel rippleEffect
                      ><input type="checkbox" ngbButton [(ngModel)]="checkboxModel.left" />Active </label
                    ><label class="btn-primary" ngbButtonLabel rippleEffect
                      ><input type="checkbox" ngbButton [(ngModel)]="checkboxModel.middle" />Checkbox </label
                    ><label class="btn-primary" ngbButtonLabel rippleEffect
                      ><input type="checkbox" ngbButton [(ngModel)]="checkboxModel.right" />Checkbox
                    </label>
                  </div>
                </div>
                <div class="col-lg-6 col-12">
                  <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="radioModel">
                    <label ngbButtonLabel class="btn-outline-primary" rippleEffect
                      ><input ngbButton type="radio" [value]="1" />Active </label
                    ><label ngbButtonLabel class="btn-outline-primary" rippleEffect
                      ><input ngbButton type="radio" value="middle" />Radio </label
                    ><label ngbButtonLabel class="btn-outline-primary" rippleEffect
                      ><input ngbButton type="radio" [value]="false" />Radio
                    </label>
                  </div>
                </div>
              </div>
            </div></core-card-snippet
          >
        </div>
      </div>
    </section>
    <section id="sizes-2">
      <div class="row">
        <div class="col-12">
          <core-card-snippet [snippetCode]="_snippetCodeSizes"
            ><h4 class="card-title">Sizes</h4>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6 col-sm-12 mb-1 mb-md-0">
                  <p class="card-text mb-0">
                    Add <code>.btn-lg</code> or <code>.btn-sm</code> for Fancy larger or smaller buttons size.
                  </p>
                  <div class="demo-inline-spacing">
                    <button type="button" class="btn btn-primary btn-lg" rippleEffect>Large</button
                    ><button type="button" class="btn btn-primary" rippleEffect>Default</button
                    ><button type="button" class="btn btn-primary btn-sm" rippleEffect>Small</button>
                  </div>
                </div>
                <div class="col-md-6 col-sm-12">
                  <p class="card-text mb-0">
                    Add <code>.btn-lg</code> or <code>.btn-sm</code> with <code>.btn-outline-*</code> for outline btn in
                    different sizes
                  </p>
                  <div class="demo-inline-spacing">
                    <button type="button" class="btn btn-outline-primary btn-lg" rippleEffect>Large</button
                    ><button type="button" class="btn btn-outline-primary" rippleEffect>Default</button
                    ><button type="button" class="btn btn-outline-primary btn-sm" rippleEffect>Small</button>
                  </div>
                </div>
              </div>
            </div></core-card-snippet
          >
        </div>
      </div>
    </section>
    <section id="block-level-buttons">
      <div class="row">
        <div class="col-12">
          <core-card-snippet [snippetCode]="_snippetCodeBlocklevelbuttons"
            ><h4 class="card-title">Block level buttons</h4>
            <div class="card-body">
              <p class="card-text">
                Create block level buttons—those that span the full width of a parent—by adding <code>.btn-block</code>.
              </p>
              <div class="row">
                <div class="col-lg-6 col-md-12">
                  <div class="form-group">
                    <button type="button" class="btn btn-primary btn-block" rippleEffect>Block level button</button>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12">
                  <div class="form-group">
                    <button type="button" class="btn btn-outline-primary btn-block" rippleEffect>
                      Block level button
                    </button>
                  </div>
                </div>
              </div>
            </div></core-card-snippet
          >
        </div>
      </div>
    </section>
    <section id="button-tags">
      <div class="row">
        <div class="col-12">
          <core-card-snippet [snippetCode]="_snippetCodeButtontags"
            ><h4 class="card-title">Button tags</h4>
            <div class="card-body">
              <p class="card-text">
                The <code>.btn</code> classes are designed to be used with the <code>&lt;button&gt;</code> element.
                However, you can also use these classes on <code>&lt;a&gt;</code> or
                <code>&lt;input&gt;</code> elements.
              </p>
              <ngb-alert [type]="'warning'" class="mb-0" [dismissible]="false"
                ><div class="alert-body">
                  <strong>Note:</strong>on click of "External Link" & "Router Link" button will redirect you to another
                  page.
                </div></ngb-alert
              >
              <div class="demo-inline-spacing">
                <a class="btn btn-primary" href="https://pixinvent.com/" role="button" target="_blank" rippleEffect
                  >External Link</a
                ><button class="btn btn-primary" [routerLink]="['/ui/content/typography']" type="button" rippleEffect>
                  Router Link</button
                ><button class="btn btn-primary" type="submit" rippleEffect>Button</button
                ><input class="btn btn-primary" type="button" value="Input" rippleEffect /><input
                  class="btn btn-primary"
                  type="submit"
                  value="Submit"
                  rippleEffect
                />
              </div>
            </div>
          </core-card-snippet>
        </div>
      </div>
    </section>
  </div>
</div>
