<div class="content-wrapper container-xxl overflow-hidden p-0">
  <app-content-header [contentHeader]="contentHeader"></app-content-header>
  <!-- Sidebar filters  -->
 <!-- <div class="sidebar-detached sidebar-left">
    <div class="sidebar">
      <core-sidebar
        class="sidebar-shop"
        id="ecommerce-sidebar-toggler"
        name="ecommerce-sidebar"
        collapsibleSidebar="bs-gt-lg"
        overlayClass="body-content-overlay"
      >
        <ecommerce-sidebar></ecommerce-sidebar>
      </core-sidebar>
    </div>
  </div>-->
  <!--/ Sidebar filters -->

  <div class="content-detached ">
    <div class="content-body">
      <!-- E-commerce Head Section Starts -->
      <section id="ecommerce-header">
        <div class="row">
          <div class="col-sm-12">
            <div class="ecommerce-header-items">
              <div class="result-toggler">
                <button
                  class="navbar-toggler shop-sidebar-toggler"
                  type="button"
                  data-toggle="collapse"
                  (click)="toggleSidebar('ecommerce-sidebar')"
                >
                  <span class="navbar-toggler-icon d-block d-lg-none"><i data-feather="menu"></i></span>
                </button>
                <div class="search-results">{{ (products | filter: searchText:'name').length }} results found</div>
              </div>
              <div class="view-options d-flex">

                <button (click)="modalOpenForm(modalForm)" type="submit" class="btn btn-success mx-2" rippleEffect> Add new product </button>
                
                <button type="button"  (click)=modalOpenWarning(modalWarning) class="btn btn-warning" rippleEffect>
                  <span [data-feather]="'star'" [class]="'mr-25'"></span>Promotion</button>
                
              </div>
              
            </div>
          </div>
        </div>
      </section>
      <!-- formulaire ajouterrr -->
      <div class="add-form">
        <!-- Button trigger modal -->
       
      
        <!-- Modal -->
        <ng-template #modalForm let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel1">Add new product</h4>
            <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <app-addproduct (onAddProduct)="getProducts()"></app-addproduct>
         
        </ng-template>
        
        <!-- / Modal -->

      </div>
      <!-- men hnee tebda mtaa promotion  -->
      <div class="modal-warning d-inline-block">
        <!-- Button trigger modal -->
       
      
        <!-- Modal  de la promotion -->
        <ng-template #modalWarning let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel160">Promotion</h4>
            <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <app-promotion (onAddPromtion)="getPromotions()" > </app-promotion>
          
        </ng-template>
        <!-- / Modal de la promotion  -->
      </div>
      <div class="edit-form">
        <!-- Button trigger modal -->
      
        <!-- Modal -->
        <ng-template #modalEditForm let-modal>
          <div class="modal-header" >
            <h4 class="modal-title" id="myModalLabel1">Edit product</h4>
            <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <app-editproduct [productId]="productId" (onEditProduct)="getProducts()"></app-editproduct>
         
        </ng-template>
        
        <!-- / Modal -->

      </div>
      <!-- delete confirmation -->
      <!-- Modal -->
  <ng-template #modalDanger let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="myModalLabel160">Delete Product</h5>
      <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
      Are you sure to delete this product 
    </div>
    <div class="modal-footer">
      
      <button type="button"  class="btn btn-danger" (click)="deleteProduct(productId)" rippleEffect>
        <i data-feather="trash"></i>
        Delete 
      </button>
    </div>
  </ng-template>
      <!-- toufa houni delete -->
      <!-- leeeeeeeeeeeeeeeeenaaaaaaaaaaaaaa touffaaaaaaaaaaaaaaaaaaaaaaa -->

      <section id="ecommerce-searchbar" class="ecommerce-searchbar">
        <div class="row mt-1">
          <div class="col-sm-12">
            <div class="input-group input-group-merge">
              <input
                type="text"
                class="form-control search-product"
                id="shop-search"
                placeholder="Search Product"
                aria-label="Search..."
                aria-describedby="shop-search"
                [(ngModel)]="searchText"
              />
              <div class="input-group-append">
                <span class="input-group-text"><i data-feather="search" class="text-muted"></i></span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- E-commerce Head Section Starts -->

      <!-- E-commerce Products Starts -->
      <section id="ecommerce-products" [ngClass]="gridViewRef === true ? 'grid-view' : 'list-view'">
        <app-ecommerce-item (onOpenModel)="modalOpenForm(modalEditForm,$event)"
        (onDeleteProduct)="getProductId($event,modalDanger)"
          class="card ecommerce-card"
          [product]="product"
          *ngFor="
            let product of products
              | filter: searchText:'name'
              | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize
          "
        ></app-ecommerce-item>
      </section>
      <!-- E-commerce Products Ends -->

      <!-- E-commerce Pagination Starts -->
      <section id="ecommerce-pagination">
        <div class="row">
          <div class="col-sm-12">
            <div class="d-flex justify-content-center">
              <ngb-pagination
                [collectionSize]="(products | filter: searchText:'name').length"
                [(page)]="page"
                [maxSize]="5"
                [rotate]="true"
                [ellipses]="false"
                [boundaryLinks]="true"
              >
                <!-- Custom pagination icons -->
                <ng-template ngbPaginationPrevious
                  ><span [data-feather]="'chevron-left'" [class]="'font-weight-bolder'" [size]="18"></span>
                </ng-template>
                <ng-template ngbPaginationFirst
                  ><span [data-feather]="'chevrons-left'" [class]="'font-weight-bolder'" [size]="18"></span>
                </ng-template>
                <ng-template ngbPaginationNext
                  ><span [data-feather]="'chevron-right'" [class]="'font-weight-bolder'" [size]="18"></span
                ></ng-template>
                <ng-template ngbPaginationLast
                  ><span [data-feather]="'chevrons-right'" [class]="'font-weight-bolder'" [size]="18"></span>
                </ng-template>
              </ngb-pagination>
            </div>
          </div>
        </div>
      </section>
      <!-- E-commerce Pagination Ends -->
    </div>
  </div>
</div>
