<div class="slideout-content">
  <!-- Modal to add new user starts-->
  <div class="modalsd modal-slide-in sdfade new-user-modal" id="modals-slide-in">
    <div class="modal-dialog">
     <!--(ngSubmit)="(newUserForm.form.valid)--> 
      <form [formGroup]="registerForm" class="add-new-user modal-content pt-0" (ngSubmit)="(newUserForm.form.valid)" #newUserForm="ngForm">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="toggleSidebar('new-user-sidebar')"
        >
          ×
        </button>

        <div class="modal-header mb-1">
          <h5 class="modal-title" id="exampleModalLabel">New User</h5>
        </div>
        <div class="modal-body flex-grow-1">
         <ngb-alert *ngIf="alrt==true" [type]="'success'" [dismissible]="false">
            <h4 class="alert-heading">user added successfully</h4>
            
          </ngb-alert>
          <ngb-alert *ngIf="alert==true" [type]="'danger'" [dismissible]="false">
            <h4 class="alert-heading">Error! Check your fields </h4>
            
          </ngb-alert>
 
          
          <div class="form-group" >
            <label for="register-username" class="form-label">Name</label>
            <input

              type="text"
              formControlName="name"
              name="name"

              class="form-control"
              placeholder="Name"
              aria-describedby="register-name"
              tabindex="1"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
            />

            
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Username is required  </div>

            </div>
          </div>

          <div class="form-group">
            <label for="register-email" class="form-label">Email</label>
            <input
              type="text"
              formControlName="email"
              name="email"
              class="form-control"
              placeholder="email@example.com"
              aria-describedby="register-email"
              tabindex="2"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
          <div class="form-group">
            <label for="register-phone" class="form-label">Phone</label>
            
            <input
              type="text"
              id="phone"
              class="form-control"
              name="phone"
              formControlName="phone"
              placeholder="phone"
              [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"
            />
            <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
              
              <div *ngIf="f.phone.errors.required">Phone is required</div>
              <div *ngIf="f.phone.errors.phone">Phone must be a valid number</div>
              
            </div>
          </div>
        
          <div class="form-group" >
             
            <label class="form-label" for="role"> Role</label>
            <select id="user-role" class="form-control" formControlName="role" [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
              <option value="Community Manager"> Community Manager</option>
              
              <option value="Accountant">Accountant</option>
              <option value="Designer">Designer</option>
              
            </select>
            <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
              <div *ngIf="f.role.errors.required">Role is required</div>
              
            </div>
          </div>


          <div class="form-group">
            <label for="register-adresse" class="form-label">Address</label>
            <input
              type="text"
              id="Adresse"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.Adresse.errors }"
              formControlName="Adresse"
              name="Adresse"
              placeholder="Address"
            />
            <div *ngIf="submitted && f.Adresse.errors" class="invalid-feedback">
              <div *ngIf="f.Adresse.errors.required">Adresse is required</div>
            </div>
          </div>
        

         <div class="form-group">
            <label for="basicInputFile">Import image</label>
            <div class="custom-file">
              <input type="file"
             
              #file
              hidden
               class="custom-file-input"
                id="customFile" 
                (change)="uploadImage($event)"
                [ngClass]="{ 'is-invalid': submitted && f.profile_photo.errors }"
                />
              <label class="custom-file-label" for="customFile">Choose image</label>
              <div *ngIf="submitted && f.profile_photo.errors" class="invalid-feedback">
                <div *ngIf="f.profile_photo.errors.required">image is required</div>
              </div>
            </div>
          </div>



          <div class="form-group row mb-2">
            <label for="customSelect" class="col-sm-3 col-form-label"> Stores: </label>
    
         

            <div class="form-check form-check-inline" *ngFor="let store of stores" >
              <input class="form-check-input" formControlName="store_id" type="checkbox" id="inlineCheckbox1" [value]="store.id" (change)="onCheckboxChange($event)"  />
              <label class="form-check-label" for="inlineCheckbox1">{{store.name}}</label>
          
            </div>

         
         </div>
            <!--(click)="submit(newUserForm)"-->
          <button type="submit" class="btn btn-primary mr-1" (click)="submit()" rippleEffect>Submit</button>
          <button 
            type="reset"
            class="btn btn-outline-secondary"
            (click)="toggleSidebar('new-user-sidebar')"
            
            rippleEffect
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- Modal to add new user Ends-->
</div>
