<form class="form" [formGroup]="addForm" (ngSubmit)="addproductSubmit()">

    <div class="modal-body" tabindex="0" ngbAutofocus>



        <div class="row mb-2">
            <label for="first-name-column " class="col-sm-3 col-form-label">Name:</label>
            <div class="col-sm-6">
                <input type="text" formControlName="name"  [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                 class="form-control" placeholder="product name" />
                 <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">First Name is required</div>
                    </div>
            </div>
        </div>
        
        <div class="row mb-2">
            <label for="itemCost" class="col-sm-3 col-form-label">Réference: </label>
            <div class="col-sm-6">
                <input type="number" class="form-control" id="itemcost" 
                [ngClass]="{ 'is-invalid': submitted && f.reference.errors }"
                formControlName="reference" placeholder="ref" />
                <div *ngIf="submitted && f.reference.errors" class="invalid-feedback">
                    <div *ngIf="f.reference.errors.required">reference is required</div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <label for="itemCost" class="col-sm-3 col-form-label">Supplier price: </label>
            <div class="col-sm-6">
                <input type="number" class="form-control" id="itemcost"
                [ngClass]="{ 'is-invalid': submitted && f.pricesupplier.errors }"
                formControlName="pricesupplier"
                    placeholder="prix" />
                    <div *ngIf="submitted && f.pricesupplier.errors" class="invalid-feedback">
                        <div *ngIf="f.pricesupplier.errors.required">Supplier price is required</div>
                    </div>
            </div>
        </div>
        <div class="row mb-2">
            <label for="itemCost" class="col-sm-3 col-form-label">Selling price: </label>
            <div class="col-sm-6">
                <input type="number" class="form-control" id="itemcost" [ngClass]="{ 'is-invalid': submitted && f.sellingprice.errors }"
                 formControlName="sellingprice" placeholder="prix" />
                 <div *ngIf="submitted && f.sellingprice.errors" class="invalid-feedback">
                    <div *ngIf="f.sellingprice.errors.required">Selling price is required</div>
                </div>
            </div>
        </div>
        <!--<div class="row mb-2">
            <label for="itemCost" class="col-sm-3 col-form-label">Store id : </label>
            <div class="col-sm-6">
                <input type="number" class="form-control" id="itemcost" formControlName="stores_id"
                    placeholder="store id " />
            </div>
        </div>-->
        <div class="form-group row mb-2">
            <label for="customSelect" class="col-sm-3 col-form-label"> Stores: </label>
    
          <div class="col-sm-6">
            <select class="custom-select" formControlName="stores_id" [ngClass]="{ 'is-invalid': submitted && f.stores_id.errors }" >
                <option *ngFor="let store of stores" [value]="store.id">{{store.name}}</option>
            </select>
          </div>
          <div *ngIf="submitted && f.stores_id.errors" class="invalid-feedback">
            <div *ngIf="f.stores_id.errors.required">stores is required</div>
          </div>
        </div>
        
        <!--<div class="row mb-2">
            <label for="itemCost" class="col-sm-3 col-form-label">Gain: </label>
            <div class="col-sm-6">
                <input type="number" class="form-control" id="itemcost" formControlName="gain" placeholder="gain" />
            </div> 
        </div>-->
        <div class="row mb-2">
            <label for="itemCost" class="col-sm-3 col-form-label">Quantity: </label>
            <div class="col-sm-6">
                <input type="number" class="form-control" id="itemcost" [ngClass]="{ 'is-invalid': submitted && f.quantity.errors }"
                formControlName="quantity" placeholder="quantity" />
                <div *ngIf="submitted && f.quantity.errors" class="invalid-feedback">
                    <div *ngIf="f.quantity.errors.required">quantity is required</div>
                </div>
            </div> 
        </div>

        
        <!-- status Select -->
        <!--<div class="form-group row mb-2">
                <label for="customSelect" class="col-sm-3 col-form-label"> Status: </label>
        
              <div class="col-sm-6">
                <select class="custom-select" formControlName="status" >
                    <option value="In stock">In Stock</option>
                    <option value="Out of Stock">Out of Stock</option>
                </select>
              </div>
        </div>-->
        <!--discreption-->
        <div class="row mb-2">
            <label for="basicTextarea" class="col-sm-3 col-form-label">Description:</label>
            <div class="col-sm-6">
                <fieldset class="form-group">
                    <textarea class="form-control" formControlName="description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
                    class="form-control" id="basicTextarea"
                        rows="3" placeholder="Ecrivez votre description ici">
                        
              </textarea>
              <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">Description is required</div>
            </div>
                </fieldset>
                
            </div>
        </div>
        <!-- finiiiiiiiiiiiii-->
        <div class="row mb-2">
            <label for="basicInputFile" class="col-sm-3 col-form-label"> image product:</label>
            <div class="col-sm-6">
                <div class="custom-file">
                    <input type="file" #file hidden class="custom-file-input" id="customAddFile"  
                        (change)="uploadImage($event)"  [ngClass]="{ 'is-invalid': submitted && f.image.errors }" />
                        
                    <label class="custom-file-label" for="customAddFile"  >Choose picture</label>
                    
                </div>
                <div *ngIf="submitted && f.image.errors" class="invalid-feedback">
                    <div *ngIf="f.image.errors.required">image is required</div>
                </div>
            </div>
           

        </div>

        <div *ngIf="image">

            <div class="col-12">
                <img [src]="image" class="imagee" style="max-width: 400px;" alt="">
            </div>
            <br>




        </div>

    </div>
    <div *ngIf="success" class="col-12 mt-75">
        <div class="alert alert-success mb-50" role="alert">
          <h4 class="alert-heading">Add successfully.</h4>
          <!--<div class="alert-body">
            <a href="javascript: void(0);" class="alert-link">Resend confirmation</a>
          </div>-->
        </div>
      </div>
      <div *ngIf="success==false" class="col-12 mt-75">
        <div class="alert alert-danger mb-50" role="alert">
          <h4 class="alert-heading">les champs obligatoires</h4>
          <!--<div class="alert-body">
            <a href="javascript: void(0);" class="alert-link">Resend confirmation</a>
          </div>-->
        </div>
      </div>
      <!-- <div *ngIf="success;else invalidForm" class="col-12 mt-75">
        <div class="alert alert-success mb-50" role="alert">
            <h4 class="alert-heading">Add successfully.</h4>
            
        </div>
    </div>
    <ng-template #invalidForm>
        <div class="alert alert-danger mb-50" role="alert">
            <h4 class="alert-heading">les champs obligatoires</h4>
        </div>
    </ng-template> -->
    <div class="modal-footer">
        <button type="submit" rippleEffect class="btn btn-success mr-1">Add
            product</button>
        <!-- <button (click)="onCancel();modal.close()" rippleEffect class="btn btn-danger mr-1">cancel</button> -->
    </div>
</form>