<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <!-- transaction card section start  heya eli feha akther 5 produit aghla -->
    <div class="row" >
     <div class="col-lg-4 col-md-6 col-12">
      <div class="card card-transaction">
        <div class="card-header">
          <h4 class="card-title">Top 5 expensive Products</h4>
          
        </div>
        <div class="card-body">
      
            <div class="transaction-item" *ngFor="let item of exProducts"> <!-- for start-->
              <div class="media">
                <div class="mr-2">
                  <div class="avatar-content">
                    <!-- <i data-feather="pocket" class="avatar-icon font-medium-3"></i> -->
                    <img [src]="baseUrl+item.image" style="max-width: 40px;" alt="">
                  </div>
                </div>
                <div class="media-body">
                  <h6 class="transaction-title">{{item.name}}</h6>
                  <small>{{item.reference}}</small>
                </div>
              </div>
              <div class="font-weight-bolder text-success">TND {{item.sellingprice}}</div>
            </div> <!-- End For Here-->
        </div>
      </div>
    </div>
    <!-- transaction Card section end mtaa 5 produit ghalin -->
    <!-- transaction card section start  heya eli feha aghla 5 pack  -->
    <div class="col-lg-4 col-md-6 col-12">
      <div class="card card-transaction">
        <div class="card-header">
          <h4 class="card-title">Top 5 expensive packs</h4>
          <!-- <i data-feather="more-vertical" class="font-medium-3 cursor-pointer"></i> -->
          <!-- <div ngbDropdown>
            <a
              ngbDropdownToggle
              href="javascript:void(0);"
              class="hide-arrow"
              id="dropdownTransactions"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i data-feather="more-vertical" [size]="18" class="text-body cursor-pointer"></i>
            </a>
            <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownTransactions">
              <a href="javascript:void(0)" ngbDropdownItem>Last 28 Days</a>
              <a href="javascript:void(0)" ngbDropdownItem>Last Month</a>
              <a href="javascript:void(0)" ngbDropdownItem>Last Year</a>
            </div>
          </div> -->
        </div>
        <div class="card-body">
          <div class="transaction-item" *ngFor="let item of Exppack"> <!-- for start-->
            <div class="media">
              <div class="mr-2" >
                <div class="avatar-content">
                  <!-- <i data-feather="pocket" class="avatar-icon font-medium-3"></i> -->
                  <img [src]="baseUrl+item.image_pack" style="max-width: 40px;" alt="">
                </div>
              </div>
              <div class="media-body">
                <h6 class="transaction-title">{{item.name_pack}}</h6>
                <small>{{item.reference_pack}}</small>
              </div>
            </div>
            <div class="font-weight-bolder text-success">TND {{item.price}}</div>
          </div> <!-- End For Here-->
        </div>
      </div>
    </div>
    <!-- transaction Card section end mtaa aghla pack-->
    <!-- Goal Overview Card -->
    <div class="col-lg-4 col-md-6 col-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h4 class="card-title">Order delivered and order canceled </h4>
          <!-- <i data-feather="help-circle" class="font-medium-3 text-muted cursor-pointer"></i> -->
        </div>
        <div class="card-body p-0">
          <div id="goalChartoptions" class="mb-1 mt-1 pt-1" #goalChartRef>
            <!-- Apexchart component-->
            <apx-chart
              [chart]="{
                height: 245,
                width: isMenuToggled === false ? goalChartRef.offsetWidth : goalChartoptions.chart.width,
                type: 'radialBar',
                sparkline: {
                  enabled: true
                },
                dropShadow: {
                  enabled: true,
                  blur: 3,
                  left: 1,
                  top: 1,
                  opacity: 0.1
                }
              }"
              [colors]="goalChartoptions.colors"
              [plotOptions]="goalChartoptions.plotOptions"
              [fill]="goalChartoptions.fill"
              [series]="goalChartoptions.series"
              [stroke]="goalChartoptions.stroke"
              [grid]="goalChartoptions.grid"
            ></apx-chart>
            <!-- / Apexchart component-->
          </div>
          <div  *ngIf="goalOrders" class="row border-top text-center mx-0">
            <div class="col-6 border-right py-1">
              <p class="card-text text-muted mb-0">Delivered</p>
              <h3 class="font-weight-bolder mb-0">{{ goalOrders[1]?.count }}</h3>
            </div>
            <div class="col-6 py-1">
              <p class="card-text text-muted mb-0">Undelivered</p>
              <h3 class="font-weight-bolder mb-0">{{ goalOrders[0]?.count }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ Goal Overview Card -->
    
  </div>
  <!-- transaction card section start  heya eli feha akther 5 moba3iin -->
  <div class="row" *ngIf="orderdProducts" >
    <!-- <div class="col-lg-4 col-md-6 col-12">
     <div class="card card-transaction">
       <div class="card-header">
         <h4 class="card-title">Top 5 Products ordered</h4>
       </div>
       <div class="card-body">
         <div class="transaction-item" *ngFor="let item of orderdProducts"> 
           <div class="media">
             <div class="avatar bg-light-primary rounded">
               <div class="avatar-content">
                
                 <img [src]="baseUrl+item.image" style="max-width: 40px;" alt="">
               </div>
             </div>
             <div class="media-body">
               <h6 class="transaction-title">{{item.name}}</h6>
               <small>{{item.reference}}</small>
             </div>
           </div>
           <div class="font-weight-bolder text-success">TND {{item.total}}</div>
         </div>
         </div>
       </div>
     </div>  -->
     
  <div class="col-xl-12 col-md-6 col-12">
    <div class="card card-statistics">
      <div class="card-header">
        <h4 class="card-title">Statistics</h4>
      </div>
      <div class="card-body statistics-body">
        <div class="row">
          <div class="col-sm-6 col-xl-3 mb-2 ">
            <div class="media">
              <div class="avatar bg-light-primary mr-2">
                <div class="avatar-content">
                  <i data-feather="users" class="avatar-icon"></i>
                </div>
              </div>
              <div class="media-body my-auto">
                <h4 class="font-weight-bolder mb-0">{{ data.statistics?.analyticsData.sales }}</h4>
                <p class="card-text font-small-3 mb-0">Number of users 
                </p>
                <p class="card-text font-small-3 mb-0"> {{nbrUser}}
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3 mb-2 ">
            <div class="media">
              <div class="avatar bg-light-info mr-2">
                <div class="avatar-content">
                  <i data-feather="shopping-bag" class="avatar-icon"></i>
                </div>
              </div>
              <div class="media-body my-auto">
                <h4 class="font-weight-bolder mb-0">{{ data.statistics?.analyticsData.customers }}</h4>
                <p class="card-text font-small-3 mb-0">Number of stores  </p>
                <p class="card-text font-small-3 mb-0"> {{nbrStore}}</p>

              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3 mb-2 ">
            <div class="media">
              <div class="avatar bg-light-danger mr-2">
                <div class="avatar-content">
                  <i data-feather="watch" class="avatar-icon"></i>
                </div>
              </div>
              <div class="media-body my-auto">
                <h4 class="font-weight-bolder mb-0">{{ data.statistics?.analyticsData.products }}</h4>
                <p class="card-text font-small-3 mb-0">Number of products </p> 
                <p class="card-text font-small-3 mb-0">{{nbrProduct}}  </p> 

              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3 mb-2">
            <div class="media">
              <div class="avatar bg-light-success mr-2">
                <div class="avatar-content">
                  <i data-feather="codepen" class="avatar-icon"></i>
                </div>
              </div>
              <div class="media-body my-auto">
                <h4 class="font-weight-bolder mb-0">{{ data.statistics?.analyticsData.revenue }}</h4>
                <p class="card-text font-small-3 mb-0">Number of packs </p>
                <p class="card-text font-small-3 mb-0">{{nbrPack}} </p>

              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3 mb-2">
            <div class="media">
              <div class="avatar bg-light-success mr-2">
                <div class="avatar-content">
                  <i data-feather="truck" class="avatar-icon"></i>
                </div>
              </div>
              <div class="media-body my-auto">
                <h4 class="font-weight-bolder mb-0">{{ data.statistics?.analyticsData.revenue }}</h4>
                <p class="card-text font-small-3 mb-0">Number of orders </p>
                <p class="card-text font-small-3 mb-0">{{nbrOrdre}} </p>

              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3 mb-2">
            <div class="media">
              <div class="avatar bg-light-success mr-2">
                <div class="avatar-content">
                  <i data-feather="shopping-cart" class="avatar-icon"></i>
                </div>
              </div>
              <div class="media-body my-auto">
                <h4 class="font-weight-bolder mb-0">{{ data.statistics?.analyticsData.revenue }}</h4>
                <p class="card-text font-small-3 mb-0">Number of stocks </p>
                <p class="card-text font-small-3 mb-0"> {{nbrStock}} </p>

              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3 mb-2">
            <div class="media">
              <div class="avatar bg-light-success mr-2">
                <div class="avatar-content">
                  <i data-feather="dollar-sign" class="avatar-icon"></i>
                </div>
              </div>
              <div class="media-body my-auto">
                <h4 class="font-weight-bolder mb-0">{{ data.statistics?.analyticsData.revenue }}</h4>
                <p class="card-text font-small-3 mb-0">Number of promotions </p>
                <p class="card-text font-small-3 mb-0"> {{nbrPromotions}} </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>
  <!--/ Statistics Card -->
   </div>
   <!-- hne toufa mtaa akther 5 products moba3iin -->
   <div class="row">
    <div class="col-12">
      <div class="card">
        <div
          class="card-header d-flex flex-sm-row flex-column justify-content-md-between align-items-start justify-content-start"
        >
          <div>
            <h4 class="card-title mb-25">Evolution of orders</h4>
            <!-- <span class="card-subtitle text-muted">Commercial networks & enterprises</span> -->
          </div>
          <!-- <div class="d-flex align-items-center flex-wrap mt-sm-0 mt-1">
            <h5 class="font-weight-bolder mb-0 mr-1">$ 100,000</h5>
            <div class="badge badge-light-secondary">
              <i class="text-danger font-small-3" data-feather="arrow-down"></i>
              <span class="align-middle">20%</span>
            </div>
          </div> -->
        </div>
        <div class="card-body">
          <div id="line-chart" #apexLineChartRef>
            <apx-chart
              [series]="apexLineChart.series"
              [chart]="{
                height: 400,
                width: isMenuToggled === false ? apexLineChartRef.offsetWidth : apexLineChart.chart.width,
                type: 'line',
                zoom: {
                  enabled: false
                },
                toolbar: {
                  show: false
                }
              }"
              [xaxis]="apexLineChart.xaxis"
              [stroke]="apexLineChart.stroke"
              [tooltip]="apexLineChart.tooltip"
              [colors]="apexLineChart.colors"
              [dataLabels]="apexLineChart.dataLabels"
              [grid]="apexLineChart.grid"
            ></apx-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
 
</div>
