<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <!-- transaction card section start  heya eli feha akther 5 produit aghla -->
    <div class="row" >
     <div class="col-lg-4 col-md-6 col-12">
      <div class="card card-transaction">
        <div class="card-header">
          <h4 class="card-title">Top 5 expensive Products</h4>
          <!-- <i data-feather="more-vertical" class="font-medium-3 cursor-pointer"></i> -->
          <!-- <div ngbDropdown>
            <a
              ngbDropdownToggle
              href="javascript:void(0);"
              class="hide-arrow"
              id="dropdownTransactions"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i data-feather="more-vertical" [size]="18" class="text-body cursor-pointer"></i>
            </a>
            <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownTransactions">
              <a href="javascript:void(0)" ngbDropdownItem>Last 28 Days</a>
              <a href="javascript:void(0)" ngbDropdownItem>Last Month</a>
              <a href="javascript:void(0)" ngbDropdownItem>Last Year</a>
            </div>
          </div> -->
        </div>
        <div class="card-body">
          <div class="transaction-item">
            <div class="media">
              <div class="avatar bg-light-primary rounded">
                <div class="avatar-content">
                  <i data-feather="pocket" class="avatar-icon font-medium-3"></i>
                </div>
              </div>
              <div class="media-body">
                <h6 class="transaction-title">Wallet</h6>
                <small>Starbucks</small>
              </div>
            </div>
            <div class="font-weight-bolder text-danger">- $74</div>
          </div>
          <div class="transaction-item">
            <div class="media">
              <div class="avatar bg-light-success rounded">
                <div class="avatar-content">
                  <i data-feather="check" class="avatar-icon font-medium-3"></i>
                </div>
              </div>
              <div class="media-body">
                <h6 class="transaction-title">Bank Transfer</h6>
                <small>Add Money</small>
              </div>
            </div>
            <div class="font-weight-bolder text-success">+ $480</div>
          </div>
          <div class="transaction-item">
            <div class="media">
              <div class="avatar bg-light-danger rounded">
                <div class="avatar-content">
                  <i data-feather="dollar-sign" class="avatar-icon font-medium-3"></i>
                </div>
              </div>
              <div class="media-body">
                <h6 class="transaction-title">Paypal</h6>
                <small>Add Money</small>
              </div>
            </div>
            <div class="font-weight-bolder text-success">+ $590</div>
          </div>
          <div class="transaction-item">
            <div class="media">
              <div class="avatar bg-light-warning rounded">
                <div class="avatar-content">
                  <i data-feather="credit-card" class="avatar-icon font-medium-3"></i>
                </div>
              </div>
              <div class="media-body">
                <h6 class="transaction-title">Mastercard</h6>
                <small>Ordered Food</small>
              </div>
            </div>
            <div class="font-weight-bolder text-danger">- $23</div>
          </div>
          <div class="transaction-item">
            <div class="media">
              <div class="avatar bg-light-info rounded">
                <div class="avatar-content">
                  <i data-feather="trending-up" class="avatar-icon font-medium-3"></i>
                </div>
              </div>
              <div class="media-body">
                <h6 class="transaction-title">Transfer</h6>
                <small>Refund</small>
              </div>
            </div>
            <div class="font-weight-bolder text-success">+ $98</div>
          </div>
        </div>
      </div>
    </div>
    <!-- transaction Card section end mtaa 5 produit ghalin -->
    <!-- transaction card section start  heya eli feha aghla 5 pack  -->
    <div class="col-lg-4 col-md-6 col-12">
      <div class="card card-transaction">
        <div class="card-header">
          <h4 class="card-title">Top 5 expensive packs</h4>
          <!-- <i data-feather="more-vertical" class="font-medium-3 cursor-pointer"></i> -->
          <!-- <div ngbDropdown>
            <a
              ngbDropdownToggle
              href="javascript:void(0);"
              class="hide-arrow"
              id="dropdownTransactions"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i data-feather="more-vertical" [size]="18" class="text-body cursor-pointer"></i>
            </a>
            <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownTransactions">
              <a href="javascript:void(0)" ngbDropdownItem>Last 28 Days</a>
              <a href="javascript:void(0)" ngbDropdownItem>Last Month</a>
              <a href="javascript:void(0)" ngbDropdownItem>Last Year</a>
            </div>
          </div> -->
        </div>
        <div class="card-body">
          <div class="transaction-item">
            <div class="media">
              <div class="avatar bg-light-primary rounded">
                <div class="avatar-content">
                  <i data-feather="pocket" class="avatar-icon font-medium-3"></i>
                </div>
              </div>
              <div class="media-body">
                <h6 class="transaction-title">Wallet</h6>
                <small>Starbucks</small>
              </div>
            </div>
            <div class="font-weight-bolder text-danger">- $74</div>
          </div>
          <div class="transaction-item">
            <div class="media">
              <div class="avatar bg-light-success rounded">
                <div class="avatar-content">
                  <i data-feather="check" class="avatar-icon font-medium-3"></i>
                </div>
              </div>
              <div class="media-body">
                <h6 class="transaction-title">Bank Transfer</h6>
                <small>Add Money</small>
              </div>
            </div>
            <div class="font-weight-bolder text-success">+ $480</div>
          </div>
          <div class="transaction-item">
            <div class="media">
              <div class="avatar bg-light-danger rounded">
                <div class="avatar-content">
                  <i data-feather="dollar-sign" class="avatar-icon font-medium-3"></i>
                </div>
              </div>
              <div class="media-body">
                <h6 class="transaction-title">Paypal</h6>
                <small>Add Money</small>
              </div>
            </div>
            <div class="font-weight-bolder text-success">+ $590</div>
          </div>
          <div class="transaction-item">
            <div class="media">
              <div class="avatar bg-light-warning rounded">
                <div class="avatar-content">
                  <i data-feather="credit-card" class="avatar-icon font-medium-3"></i>
                </div>
              </div>
              <div class="media-body">
                <h6 class="transaction-title">Mastercard</h6>
                <small>Ordered Food</small>
              </div>
            </div>
            <div class="font-weight-bolder text-danger">- $23</div>
          </div>
          <div class="transaction-item">
            <div class="media">
              <div class="avatar bg-light-info rounded">
                <div class="avatar-content">
                  <i data-feather="trending-up" class="avatar-icon font-medium-3"></i>
                </div>
              </div>
              <div class="media-body">
                <h6 class="transaction-title">Transfer</h6>
                <small>Refund</small>
              </div>
            </div>
            <div class="font-weight-bolder text-success">+ $98</div>
          </div>
        </div>
      </div>
    </div>
    <!-- transaction Card section end mtaa aghla pack-->
    <!-- Goal Overview Card -->
    <div class="col-lg-4 col-md-6 col-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h4 class="card-title">Percentage of orders delivered <br> and orders canceled </h4>
          
        </div>
        <div class="card-body p-0">
          <div id="goalChartoptions" class="mb-1 mt-1 pt-1" #goalChartRef>
            <!-- Apexchart component-->
            <!-- <apx-chart
              [chart]="{
                height: 245,
                width: isMenuToggled === false ? goalChartRef.offsetWidth : goalChartoptions.chart.width,
                type: 'radialBar',
                sparkline: {
                  enabled: true
                },
                dropShadow: {
                  enabled: true,
                  blur: 3,
                  left: 1,
                  top: 1,
                  opacity: 0.1
                }
              }"
              [colors]="goalChartoptions.colors"
              [plotOptions]="goalChartoptions.plotOptions"
              [fill]="goalChartoptions.fill"
              [series]="data.goalOverview.series"
              [stroke]="goalChartoptions.stroke"
              [grid]="goalChartoptions.grid"
            ></apx-chart> -->
            <!-- / Apexchart component-->
          </div>
          <div class="row border-top text-center mx-0">
            <div class="col-6 border-right py-1">
              <p class="card-text text-muted mb-0">Completed</p>
              <h3 class="font-weight-bolder mb-0">{{ data.goalOverview?.analyticsData.completed }}</h3>
            </div>
            <div class="col-6 py-1">
              <p class="card-text text-muted mb-0">In Progress</p>
              <h3 class="font-weight-bolder mb-0">{{ data.goalOverview?.analyticsData.inProgress }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ Goal Overview Card -->
    
  </div>
  <!-- Statistics Card -->
  <div class="col-xl-8 col-md-6 col-12">
    <div class="card card-statistics">
      <div class="card-header">
        <h4 class="card-title">Statistics</h4>
        <div class="d-flex align-items-center">
          <p class="card-text font-small-2 mr-25 mb-0">Updated 1 month ago</p>
        </div>
      </div>
      <div class="card-body statistics-body">
        <div class="row">
          <div class="col-sm-6 col-xl-3 mb-2 mb-xl-0">
            <div class="media">
              <div class="avatar bg-light-primary mr-2">
                <div class="avatar-content">
                  <i data-feather="trending-up" class="avatar-icon"></i>
                </div>
              </div>
              <div class="media-body my-auto">
                <h4 class="font-weight-bolder mb-0">{{ data.statistics?.analyticsData.sales }}</h4>
                <p class="card-text font-small-3 mb-0">Sales</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3 mb-2 mb-xl-0">
            <div class="media">
              <div class="avatar bg-light-info mr-2">
                <div class="avatar-content">
                  <i data-feather="user" class="avatar-icon"></i>
                </div>
              </div>
              <div class="media-body my-auto">
                <h4 class="font-weight-bolder mb-0">{{ data.statistics?.analyticsData.customers }}</h4>
                <p class="card-text font-small-3 mb-0">Customers</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3 mb-2 mb-sm-0">
            <div class="media">
              <div class="avatar bg-light-danger mr-2">
                <div class="avatar-content">
                  <i data-feather="box" class="avatar-icon"></i>
                </div>
              </div>
              <div class="media-body my-auto">
                <h4 class="font-weight-bolder mb-0">{{ data.statistics?.analyticsData.products }}</h4>
                <p class="card-text font-small-3 mb-0">Products</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3">
            <div class="media">
              <div class="avatar bg-light-success mr-2">
                <div class="avatar-content">
                  <i data-feather="dollar-sign" class="avatar-icon"></i>
                </div>
              </div>
              <div class="media-body my-auto">
                <h4 class="font-weight-bolder mb-0">{{ data.statistics?.analyticsData.revenue }}</h4>
                <p class="card-text font-small-3 mb-0">Revenue</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ Statistics Card -->
  </div>
</div>
