<!-- User Chat profile right area -->
<div class="active-user-profile-sidebar">
  <header class="user-profile-header">
    <button class="btn close-icon p-0" (click)="toggleSidebar('chat-active-sidebar')">
      <i data-feather="x"></i>
    </button>
    <!-- User Profile image with name -->
    <div class="header-profile-sidebar">
      <div class="avatar box-shadow-1 avatar-border avatar-xl">
        <img [src]="chatUser.avatar" alt="user_avatar" height="70" width="70" />
        <span
          class="avatar-status-lg"
          [ngClass]="{
            'avatar-status-offline': chatUser.status == 'offline',
            'avatar-status-online': chatUser.status == 'online',
            'avatar-status-busy': chatUser.status == 'busy',
            'avatar-status-away': chatUser.status == 'away'
          }"
        ></span>
      </div>
      <h4 class="chat-user-name">{{ chatUser.fullName }}</h4>
      <span class="user-post">{{ chatUser.role }}</span>
    </div>
    <!--/ User Profile image with name -->
  </header>
  <div class="user-profile-sidebar-area" [perfectScrollbar]>
    <!-- About User -->
    <h6 class="section-label mb-1">About</h6>
    <p>{{ chatUser.about }}</p>
    <!-- About User -->
    <!-- User's personal information -->
    <div class="personal-info">
      <h6 class="section-label mb-1 mt-3">Personal Information</h6>
      <ul class="list-unstyled">
        <li class="mb-1">
          <i data-feather="mail" class="font-medium-2 mr-50"></i>
          <span class="align-middle">kristycandy@email.com</span>
        </li>
        <li class="mb-1">
          <i data-feather="phone-call" class="font-medium-2 mr-50"></i>
          <span class="align-middle">+1(123) 456 - 7890</span>
        </li>
        <li>
          <i data-feather="clock" class="font-medium-2 mr-50"></i>
          <span class="align-middle">Mon - Fri 10AM - 8PM</span>
        </li>
      </ul>
    </div>
    <!--/ User's personal information -->

    <!-- User's Links -->
    <div class="more-options">
      <h6 class="section-label mb-1 mt-3">Options</h6>
      <ul class="list-unstyled">
        <li class="cursor-pointer mb-1">
          <i data-feather="tag" class="font-medium-2 mr-50"></i>
          <span class="align-middle">Add Tag</span>
        </li>
        <li class="cursor-pointer mb-1">
          <i data-feather="star" class="font-medium-2 mr-50"></i>
          <span class="align-middle">Important Contact</span>
        </li>
        <li class="cursor-pointer mb-1">
          <i data-feather="image" class="font-medium-2 mr-50"></i>
          <span class="align-middle">Shared Media</span>
        </li>
        <li class="cursor-pointer mb-1">
          <i data-feather="trash" class="font-medium-2 mr-50"></i>
          <span class="align-middle">Delete Contact</span>
        </li>
        <li class="cursor-pointer">
          <i data-feather="slash" class="font-medium-2 mr-50"></i>
          <span class="align-middle">Block Contact</span>
        </li>
      </ul>
    </div>
    <!--/ User's Links -->
  </div>
</div>
<!--/ User Chat profile right area -->
