<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    

    <!-- Row Details  Datatables -->
    <section id="ngx-datatable-row-details">

      <!-- <core-card-snippet [snippetCode]="_snippetCodeRowDetails"> -->
<core-card-snippet >
         
        <!-- <h4 class="card-title">Stock Details</h4> -->
        <div class="row">
          
          
          <!-- </div> -->
          <div class="col-md-6 col-12">
            <div class="d-flex justify-content-between align-items-center m-1">
              <label class="d-flex align-items-center"
                >Show
                <select class="form-control mx-25" [(ngModel)]="basicSelectedOption">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                entries</label
              >
            </div>
          </div>
          
          <div class="col-md-6 col-12 d-flex justify-content-md-end">
            <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
              <label class="d-flex align-items-center"
                >Search<input
                  type="search"
                  placeholder="Search"
                  class="form-control ml-25"
                  (keyup)="filterUpdate($event)"
                  (search)="filterUpdate($event)"
              /></label>



              <button (click)="modalOpenForm(modalForm)" class="btn btn-success ml-1" rippleEffect>
                <i data-feather="plus" class="mr-0 mr-sm-1"></i
                ><span class="d-none d-sm-inline-block">Add New Stock</span>
              </button> 
  
            </div>
          </div>
        </div>

       
  <div class="login-form" >
    
  
    <ng-template #modalBasic let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel1">Stock Details</h4>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" tabindex="0" ngbAutofocus>
       
         


        
          </div>
          <table class="table">
            <thead>
                <tr>
                    <th scope="col">Quantity Added</th>
                    <th scope="col"> Date</th>
                    
          
                    <th></th> 
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of stockDetails.insertedProduct">
                    <th scope="row">{{p.insert_quantity}}</th>
                    <!-- <td>{{stock.insert_date}}</td> -->
                    <td> {{p.insert_date | date:'yyyy-mm-dd' }}</td>
                    
     
                </tr>
            </tbody>
        </table>

      <div class="modal-footer">
        <button type="button" class="btn bg-light-danger mr-1" (click)="modal.close()" rippleEffect>
        Cancel
        </button>
      </div>
    </ng-template>

    <!-- Modal -->
    <ng-template #modalForm let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel1">Add New Stock</h4>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" tabindex="0" ngbAutofocus>
        <form  class="form" [formGroup]="stockForm" (ngSubmit)="submit()" action="#">
          <!-- <label>Id_product: </label> -->
          <!-- <div class="form-group">
            <input type="text" placeholder="Id_product" class="form-control" />
          </div> -->

          <!-- Modal -->
  <ng-template #modalSuccess let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="myModalLabel160">Success </h5>
      <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
      Stock added successfully
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="modal.close('Accept click')" rippleEffect>
       Close
      </button>
    </div>
  </ng-template>
          <ngb-alert *ngIf="alert==true" [type]="'success'" [dismissible]="false">
            <h4 class="alert-heading">Stock added successfully</h4>
            
          </ngb-alert>

          <ngb-alert *ngIf="alert==false" [type]="'danger'" [dismissible]="false">
            <h4 class="alert-heading">Error! Check your fields </h4>
            
          </ngb-alert>

          
         
          <div class="form-group row mb-2">
            <label for="customSelect" class="col-sm-3 col-form-label" > Product </label>
          <div class="col-sm-6">
            <select class="custom-select" formControlName="products_id" >
                <option ngbDropdownItem href="javascript:void(0)" *ngFor="let product of products" [value]="product.id">{{product.name}}</option>
            </select>
          </div>
         </div>
         <div class="row mb-2">
          <label for="itemCost" class="col-sm-3 col-form-label"> date  : </label>
          <div class="col-sm-6">
            <input class="form-control" type="date" placeholder="01/02/2023"  formControlName="insert_date"
             mask="00/00/0000" />
              <div *ngIf="submitted && stockForm.controls.insert_date.errors" class="invalid-feedback">
                  <div >reference is required</div>
              </div>
          </div>
        </div>


          <div class="form-group row mb-2 ">
            <label for="register-adresse" class="col-sm-3 col-form-label">Insert  Quantity </label>
            <div class="col-sm-6">
            <input
              type="text"
              id="insert_quantity"
              class="form-control"
              formControlName="insert_quantity"
              name="insert_quantity"
              placeholder="Quantity"
            />
          </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn bg-light-primary" (click)="modal.close('Accept click')" rippleEffect>
          Submit
        </button> -->
        <button type="submit"  class="btn bg-light-primary mr-1" (click)="submit()" rippleEffect>Submit</button>
        <button type="button" class="btn bg-light-danger" (click)="modal.close('Accept click')" rippleEffect>
          Cancel
        </button>
      </div>
    </ng-template>
    <!-- / Modal -->

    
  </div>

  <table class="table">
   
    <thead>
        <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Reference</th>
            <!-- <th scope="col">Description</th> -->
            <th scope="col">Total Quantity</th>
            <th scope="col">Stock History</th>
            <th></th> 
        </tr>
    </thead>
    <tbody>
     
        <tr *ngFor="let prod of products">
            <th scope="row">{{prod.name}}</th>
            <td>{{prod.reference}}</td>
            <!-- <td>{{prod.description}}</td> -->
            <td>{{prod.quantity}}</td>
            <!-- <td>{{prod.prix}}</td> -->
      
            <td><button  class="btn bg-light-warning mr-1" (click)="modalOpen(modalBasic, prod)">Details</button></td>
            <!-- <td><button  class="btn btn-info btn-sm mx-2" routerLink="edit/{{prod.id}}">Details</button></td>  -->
      
          </tr>
     
           
        
    </tbody>

 </table>
</core-card-snippet>
   
</section> 
  </div>
</div>
